.ModalBackground{
    background:  rgba(8, 0, 0, 0.486) ;
    position: fixed;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: wheat;
}